 




.header-button{
  background-color: #3c8dbc;
  color: white;
  border-color: #2E84B6
}
.btn-primary > .header-button:hover{
  background-color: #4CB1EB;
  color: white
}


.dataTables_wrapper .dataTables_length,
 .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
   .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate,
     .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #ffffff;
}

/*### DT for dark theme ###*/
.dataTables_wrapper .dataTables_paginate .paginate_button{
  box-sizing:border-box;
  display:inline-block;
  min-width:1.5em;
  padding:0.5em 1em;
  margin-left:2px;
  text-align:center;
  text-decoration:none !important;
  cursor:pointer;
  *cursor:hand;color:#ffffff !important;
  border:1px solid transparent;
  border-radius:2px}
/*###To change text and background color of the `Select` box ###*/
.dataTables_length select {
       color: #0E334A;
       background-color: #0E334A
       }
#DataTables_Table_0_filter > label{
  color: white;
}
#DataTables_Table_0_info {
  color: white;
}

/*To change text and background color of the `Search` box */
.dataTables_filter input {
        color: black;
        background-color: #F4F2F2;
       }
thead {
  color: #ffffff;
}
tbody {
  color: #000000;
}
/*.dataTables_filter > label > input{
  color: white;
}*/
/*
.dataTables_scrollHead span {
  color: black;
}

.btn-default.hover, .btn-default:active, .btn-default:hover {
  background-color: #222d32
}*/



.btn-primary {
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:hover {
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary > a {
  color: #fff;
}

/*a {
  color: #fff;
} */

/*
#tophecodemap > .btn-primary > a {
  color: #fff;
}
*/





#divcheckboxgroups{
 max-height: 400px;
 overflow: auto;
 margin-top: 20px;
}


.content{
  padding-top: 0;
  background-color: #222d32;
}


#network_proxy_nodes > hr{
  background-color: #222d32;
  color: #222d32;
  margin: 0;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .logo {
  background-color: #222d32;
}

.skin-blue .main-header .logo:hover {
    background-color: #222d32;
}

/*aside#sidebar {
    border-width: 3px;
    border-color: #367fa9;
    border-style: none solid none none;
}

body {
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}*/


section.sidebar .shiny-input-container {
  padding-top: 0;
  margin-bottom: 0;
}

.shiny-notification {
             position:fixed;
             top: 50px;
             left: 698pt;
             }
             
button#goButton {
    margin-top: 20px;
}


.modal-content{
  padding-left: 20px;
  padding-right: 20px;
}


#legendnetwork_proxy_nodes{
    border: white;
    border-color: white;
    border-width: 3px;
    /* background: white; */
    border-style: outset;
}










.footer-bar{
  /*position:absolute;*/
  bottom:0;
  width:100%;
  /*height:50px; */  /* Height of the footer */
  color: white;
  padding: 60px 40px;
  background: #101820;
  z-index: 1000;
  
}

.footer-bar > a:hover { 
  color:rgba(255,255,255,0.80); 
  text-decoration:none; 
}

.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-logo{
  height: 40px;
  margin-left: 100px;
}

.footer-text{
  margin-left: 10px;
  color: lightgrey;
}

.footer-text > b: hover{
  color: white;
}

